<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ch.fcpkag.whiteboard">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.READ_CALENDAR" />

    <application
        android:name="ch.fcpkag.whiteboard.application.WhiteboardApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name="ch.fcpkag.whiteboard.SignInActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="ch.fcpkag.whiteboard.DetailActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/title_snippet_detail"
            android:parentActivityName="ch.fcpkag.whiteboard.SignInActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ch.fcpkag.whiteboard.SignInActivity" />
        </activity>
    </application>

</manifest>
